/* ------------------------------------------------------------- */
/* Html Elements */
body {
  font-family: arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #99ccff;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

/* ------------------------------------------------------------- */
/* Classes */
.heading1 {
  font-size: 40px;
}

.heading2 {
  font-size: 24;
}

.heading3 {
  font-weight: bold;
}

.gap-left {
  margin-left: 7px;
}

.gap-left-large {
  margin-left: 14px;
}

.faded {
  color: gray;
}

.attribute {
  background-color: rgb(213, 235, 255);
}
/* Icons (Image and Text */
.icon {
  width: 20px;
  height: 20px;
}
.h1-icon {
  width: 48px;
  height: 48px;
}

.text-icon {
  border: 1px solid black;
  margin: 1px 2px;
  padding: 1px 2px;
  background-color: lightgray;
}

.h1-text-icon {
  border: 2px solid black;
  margin: 2px 4px;
  padding: 2px 4px;
  background-color: lightgray;
}

/* Enum Table */
.enum-table {
  margin-left: 50px;
  width: auto;
}

.enum-header th {
  background-color: #9fbad4;
}

.enum-data td {
  background-color: #d2d7f3;
}

/* Index Classes */
.index-top-level {
  display: flex;
  flex-direction: column;
}

.index-side-by-side {
  display: flex;
  width: 100%;
}

.index-subpanel {
  flex: 1;
}
